openapi: 3.0.0
info:
  license:
    name: MIT
  title: Member API
  version: 1.0.0
servers:
- url: http://api.pulse.com/v1
paths:
  /members:
    get:
      operationId: listMembers
      parameters:
      - description: How many members to return at one time (max 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Members'
          description: A paged array of members
          headers:
            x-next:
              description: A link to the next page of responses
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: List all members
      tags:
      - members
      x-accepts:
      - application/json
    post:
      operationId: createMember
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Member'
        required: true
      responses:
        "201":
          description: Member successfully created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Create a new member
      tags:
      - members
      x-content-type: application/json
      x-accepts:
      - application/json
  /members/{memberId}:
    get:
      operationId: getMemberById
      parameters:
      - description: The ID of the member to retrieve
        explode: false
        in: path
        name: memberId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
          description: Member details retrieved successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get member details by ID
      tags:
      - members
      x-accepts:
      - application/json
components:
  schemas:
    Member:
      example:
        firstName: firstName
        lastName: lastName
        birthDate: 2000-01-23
        email: email
      properties:
        firstName:
          description: The first name of the member
          type: string
        lastName:
          description: The last name of the member
          type: string
        birthDate:
          description: The birth date of the member
          format: date
          type: string
        email:
          description: The email address of the member
          format: email
          type: string
      required:
      - birthDate
      - email
      - firstName
      - lastName
      type: object
    Members:
      items:
        $ref: '#/components/schemas/Member'
      maxItems: 100
      type: array
    Error:
      example:
        code: 0
        message: message
      properties:
        code:
          format: int32
          type: integer
        message:
          type: string
      required:
      - code
      - message
      type: object

